
// Colour Palettes

  // Bittersweet Colour Palettes
  $shark: #2E363F; //rgba(41, 47, 54, 100)
  $puerto-rico: #4ECDC4; //rgba(78, 205, 196, 100)
  $linen: #FEFEFE; //rgba(254, 254, 254, 100)
  $bittersweet: #FF6B6B; //rgba(255, 107, 107, 100)
  $white: #FFFFFF; //rgba(255, 255, 255, 100)

  // Outer Space Colour Palettes
  $outer-space: #292F36; //rgba(44, 54, 63, 100)
  $mandy: #E75A7C; //rgba(231, 90, 124, 100)
  $spring-wood: #F2F5EA; //rgba(242, 245, 234, 100)
  $tasman: #D6DBD2; //rgba(214, 219, 210, 100)
  $rainee: #BBC7A4; //rgba(187, 199, 164, 100)

  // Colourful Pasties
  $mystic: #F0F2F5; // rgba(237, 242, 244, 1)
  $turquoise: #2EC4B6; // rgba(46, 196, 182, 1)
  $midnight: #011627; // rgba(1, 22, 39, 1)
  $tree-poppy: #2EC4B6; // rgba(255, 159, 28, 1)
  $pickled-bluewood: #253031; // rgba(37, 48, 49, 1)

  // Silver Sands Colour Palettes
  $ebony-clay: #2D3142; //rgba(45, 49, 66, 100)
  $silver-sand: #BFC0C0; //rgba(191, 192, 192, 100)
  $white: #FFFFFF; //rgba(255, 255, 255, 100)
  $burnt-sienna: #EF8354; //rgba(239, 131, 84, 100)
  $blue-bayoux: #4F5D75; //rgba(79, 93, 117, 100)

  // Don Juan Colour Palettes
  $cold-turkey: #D5C5C8; //rgba(213, 197, 200, 100)
  $edward: #9DA3A4; //rgba(157, 163, 164, 100)
  $don-juan: #604D53; //rgba(96, 77, 83, 100)
  $new-york-pink: #DB7F8E; //rgba(219, 127, 142, 100)
  $cosmos: #FFDBDA; //rgba(255, 219, 218, 100)

  // Hippie Colour Palettes
  $hippie-blue: #58A4B0; //rgba(88, 164, 176, 100)
  $bright-gray: #373F51; //rgba(55, 63, 81, 100)
  $geyser: #D8DBE2; //rgba(216, 219, 226, 100)
  $cerise-red: #EA3A6F; //rgba(234, 58, 111, 100)
  $linen: #FEFEFE; //rgba(254, 254, 254, 100)
